.home_container{
    height: 100vh;    
}
/* .wave{
    height: 250px;
    width: 100%;
} */
.path-0{
    transition: all 300 ease-in-out 150;
    animation:pathAnim-0 7s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  @keyframes pathAnim-0{
    0%{
      d: path("M 0,500 C 0,500 0,250 0,250 C 166.93333333333334,255.2 333.8666666666667,260.4 484,240 C 634.1333333333333,219.6 767.4666666666667,173.60000000000002 924,171 C 1080.5333333333333,168.39999999999998 1260.2666666666667,209.2 1440,250 C 1440,250 1440,500 1440,500 Z");
    }
    25%{
      d: path("M 0,500 C 0,500 0,250 0,250 C 192.8,268.26666666666665 385.6,286.5333333333333 519,271 C 652.4,255.46666666666667 726.4000000000001,206.13333333333333 870,197 C 1013.5999999999999,187.86666666666667 1226.8,218.93333333333334 1440,250 C 1440,250 1440,500 1440,500 Z");
    }
    50%{
      d: path("M 0,500 C 0,500 0,250 0,250 C 198,247.73333333333332 396,245.46666666666664 562,255 C 728,264.53333333333336 862.0000000000002,285.8666666666667 1003,287 C 1143.9999999999998,288.1333333333333 1292,269.06666666666666 1440,250 C 1440,250 1440,500 1440,500 Z");
    }
    75%{
      d: path("M 0,500 C 0,500 0,250 0,250 C 189.2,287.4666666666667 378.4,324.93333333333334 534,326 C 689.6,327.06666666666666 811.5999999999999,291.73333333333335 957,273 C 1102.4,254.26666666666668 1271.2,252.13333333333333 1440,250 C 1440,250 1440,500 1440,500 Z");
    }
    100%{
      d: path("M 0,500 C 0,500 0,250 0,250 C 166.93333333333334,255.2 333.8666666666667,260.4 484,240 C 634.1333333333333,219.6 767.4666666666667,173.60000000000002 924,171 C 1080.5333333333333,168.39999999999998 1260.2666666666667,209.2 1440,250 C 1440,250 1440,500 1440,500 Z");
    }
  }